html {
  height:100%;
}
body{
  height:100%;
}

#root{
  height:100%;
}

.App {
  text-align: center;
  width:100%;
  height:100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav{
  background-color: 	#808080;
  padding:0 !important;
  height:100%;
  text-align:center;
  color:white;
}

.nav ul li{
  display: block;
}

ul li span{
  display: inline-block;
  vertical-align: middle;
}

ul li:before{
  content: '';
  display: inline-block;
  vertical-align: middle;
  height:100%;
}

.nav a{
  font-family: 'Ubuntu', sans-serif;
  color:white;
  font-size:large;
}

.nav a:hover{
  text-decoration: none;
}

.nav ul{
  margin: 0 !important;
  padding: 0 !important;
 
}

.nav li{
  height: 8vh;
  margin: 0 auto;
  border-bottom: thin solid #cecece;
}
.nav div:hover{
  background-color:yellow;
}

.content{
  margin: 0 !important;
  padding:0 !important;
}

.nav ul {
  list-style: none;

}